<div class="wrapper">
  <div class="gallery">
    <div class="item" *ngFor="let item of entitList ">
      <h3>{{item.name}}</h3>
      <div class="imgs">
        <img src="{{item.logo}}" alt="">
        <p>{{"ID: " +item.entityId}}</p>
        <p>{{"numnero de identificacion: " +item.identificationNumber}}</p>
        <p>{{"Fecha de expiración: " +item.expirationDate}}</p>\
        <p>{{"Nombre de contacto: " +item.contactName}}</p>
        <p>{{"Correo de contacto: " +item.contactMail}}</p>
        <p>{{"Direccion IP: " +item.ipAddress}}</p>

      </div>
    </div>
  </div>
</div>
