.container{
  display: flex;
  flex-direction: row;
  width: 300px;
  margin: 0 auto;
}

.row1{
  width: 280px;
  justify-content: center;
  align-items: center;
}

.row2{
  width: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}
