.table{
  width: 95%;
  margin:0 auto;

}

.header{
  display:flex;
  flex-direction: row;
}


.content{
  display: block;
  width: 95%;
}


.cell{
  width: 11.11%;
  overflow: auto;
  text-align: center;
}

.img{
  width: 22.22%;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
}
